<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>CLIMA</title>
</head>

<body>
    <!-- Image and text -->

    <nav class="navbar navbar-light bg-light">

    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="https://i.shgcdn.com/b5ac8c16-2e62-4e22-9e2a-a92ae5c099f3/-/stretch/off/-/resize/3000x/-/quality/normal/"
            width="30" height="30" class="d-inline-block align-top" alt="">
        <a class="navbar-brand" href="services.html">LEGAHOME | Smart Home Digital Platform</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link">Clima de Hoy</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecciona tu ciudad
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <main>
        <section>
            <a class="weatherwidget-io" href="https://forecast7.com/en/21d89n102d29/aguascalientes/"
                data-label_1="AGUASCALIENTES" data-label_2="WEATHER" data-font="Roboto"
                data-theme="marine">AGUASCALIENTES WEATHER</a>
            <div class="d-flex align-items-start">
                <div id="cont_06920d86728ccea793d361075b3df039">
                    <script type="text/javascript" async
                        src="https://www.meteored.mx/wid_loader/06920d86728ccea793d361075b3df039"></script>
                </div>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ng0yKYR1Z6g" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3xwOJyrqrEs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            </div>
            <div>
                <!-- start feedwind code -->
                <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js"
                    data-fw-param="121247/"></script> <!-- end feedwind code -->

            </div>


            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>

        </section>

    </main>
    <script src="script.js"></script>
</body>

</html>